*{
    margin: 0%;
    padding: 0%;
}
:root{
    background-color: rgb(8, 8, 8) ;
}
body{
font-family:serif;
}



/* start nav bar  */
/* --------------------------------------------------------------------- */
.imgnav{
    width: 60px;
    height: 50px;
}
/* --------------------------------------------------------------------- */
#navp{
    background-color: rgb(0, 0, 0);
    color: black;
}
/* --------------------------------------------------------------------- */
#links{
    padding: 0.1vw;
    font-size: 20px;
    font-family: serif;
    margin: 0.1vw;
    /* left: 100px; */
    width: 5vw;

}#links:hover,#links:focus{
    color: aliceblue
}

/* --------------------------------------------------------------------- */

#iconnav {
    color:aliceblue;
    /* border: px white solid; */

}#iconnav:hover{
    color: blue;

}
/* --------------------------------------------------------------------- */
.search{
color: rgb(255, 255, 255);
border-left: 1px rgb(255, 255, 255) solid;
/* transform: translate(-10vw,0vh); */
}
.search:hover{
    color:blue;
}
/* --------------------------------------------------------------------- */
#login{
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    margin: 10px;
    width: 60px;

}#login:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(8, 10, 12);

}
/* end nav bar  */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */

/* star landing */
.landingp{
    /* background-color: rgb(254, 254, 254); */

}
.landing{
width: 80%;
margin: auto;
background-color: rgb(255, 255, 255);
color: rgb(3, 4, 4);
padding: 10vw;
text-align: center;
}
.landing button{
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    margin: 10px;
    width: 140px;
    height: 50px;

}.landing button:hover,.landing button:focus{
    background-color: rgb(255, 255, 255);
    border: black 2px solid;
    color: rgb(0, 0, 0);
}
/* end landing */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
.space{
    background-color: black;
}


/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* start contanersp */

.contanersp{
    height: 1350px;
}

.headp{
    color: black;
    text-align: center;
    width: 80%;
margin: auto;
background-color: rgb(255, 255, 255);
color: rgb(3, 4, 4);
padding: 10vw;
}
.headp #icon{
    /* background-color: antiquewhite; */
    color: rgb(252, 159, 45);
    width: 100PX;
    height: 100PX;
}

.headp2{
    color: black;
    text-align: center;
    width: 80%;
    transform: translate(0vw,-20vh);

margin: auto;
background-color: rgb(255, 255, 255);
color: rgb(3, 4, 4);
padding: 10vw;
}
.headp2 #icon{
    color: rgb(252, 159, 45);
    width: 100PX;
    height: 100PX;
}

/* --------------------------------------------------------------------- */



.row{
    transform: translate(-30vw,20vh);
    height: 5vw;
}

.row .number{
    color: rgb(143, 142, 142);
    font-size: 12vw;
}
.icon #ic{ 
    width: 15vw;
    height: 15vh;
    color: rgb(252, 159, 45);
}

.row h4{
color: rgb(255, 217, 0);
font-size: 3vw;
}
.row p{
    font-size: 1vw;

}
/* --------------------------------------------------------------------- */
.row2{
    transform: translate(0vw,10vh);
    height: 5vw;
}

.row2 .number{
    color: rgb(143, 142, 142);
    font-size: 12vw;
}
.icon #ic{ 
    width: 15vw;
    height: 15vh;
    color: rgb(252, 159, 45);
}

.row2 h4{
color: rgb(255, 217, 0);
font-size: 3vw;
}
.row2 p{
    font-size: 1vw;

}
/* --------------------------------------------------------------------- */
.row3{
    transform: translate(30vw,0vh);
    height: 5vw;
}

.row3 .number{
    color: rgb(143, 142, 142);
    font-size: 12vw;
}
.icon3 #ic{ 
    width: 15vw;
    height: 15vh;
    color: rgb(252, 159, 45);
}

.row3 h4{
color: rgb(255, 217, 0);
font-size: 3vw;
}
.row3 p{
    font-size: 1vw;

}

/* end contanersp */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* stard block */
.ul{
    transform: translate(-1vw,0vh);

}
.ul li{
    width: 20vw;
    height: 10vh ;
    font-family: serif;
    /* transform: translate(5vw,-10vh); */
    display: inline;
    text-align: center;
    margin: 10px;
    font-size: 2vw;
    border: none;
    border-radius: 5px;
    color: coral;
}
.ul li:hover{
    background-color:rgb(255, 168, 137) ;
    color: black;
}



.gelary{
    background-color: rgb(255, 255, 255);
 }
 .image1 img{
    width:10vw;
    height:10vw;
    transform: translate(0vw,0vh);
 
 }
 .image1 img:hover{
    border: 2px solid rgb(255, 152, 18);
    cursor: pointer;
 }
 .hoverr img{
    transform: translate(-4vw,0vh);
    border: 2px solid black;
    width:70vw;
    height:55vh; 
 }
 
/* end block */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */